@page

@using Domain
@using GameBrain
@model WebApp.Pages.GamePlay.ShipSettings


<div class="text-center">
    <h1 class="display-8">Game settings</h1>
</div>

<form method="post">
    <div class="row">
        <div class="col">
            <label>Carriers (1x5)</label>
            <input asp-for="Carrier"  class="form-control" placeholder="0">
        </div>
        <div class="col">
            <label>Battleships (1x4)</label>
            <input asp-for="Battleshipp"  class="form-control" placeholder="0">
        </div>
        <div class="col">
            <label>Submarines (1x3)</label>
            <input asp-for="Submarine" class="form-control" placeholder="0">
        </div>
        <div class="col">
            <label>Cruisers (1x2)</label>
            <input asp-for="Cruiser" class="form-control" placeholder="0">
        </div>
        <div class="col">
            <label>Patrols (1x1)</label>
            <input asp-for="Patrol"  class="form-control" placeholder="0">
        </div>
        <div class="col">
            <label>Can ships touch?</label>
            <input asp-for="CanTouch"  type="checkbox" checked="checked" value="yes">
        </div>
        <div class="col">
            <button type="submit" class="btn badge-primary">Confirm</button>
        </div>
    </div>
</form>





