# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.KeilaJKEPood.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jan\RiderProjects\icd0008-2020f\KeilaJKEPood\.idea\.idea.KeilaJKEPood\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
